<!DOCTYPE html>      
<html lang="en">      
  <head>      
    <meta charset="UTF-8" />      
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />      
    <title>Loading</title>      
    {% load static %}      
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
  </head>      
  <body>      
    <header>      
      <img src="{% static 'icons/img_logo.png' %}" alt="" class="logo" />      
    </header>      
    
    <section class="loading-container">      
      <div class="bottom-sea"></div>      
      <div class="fish-wrapper">      
        <img src="{% static 'icons/img_fish.png' %}" alt="" class="fish" />      
        <p>결과 분석중</p>      
      </div>      
    </section>      
    
    <script>      
      function checkStatus() {      
        fetch("{% url 'check_processing_status' %}")      
          .then(response => response.json())      
          .then(data => {      
            if (data.status === 'done') {      
              window.location.href = "{% url 'result_page' %}";      
            } else {      
              setTimeout(checkStatus, 1000); // 1초마다 상태 체크      
            }      
          });      
      }      
    
      document.addEventListener("DOMContentLoaded", function() {      
        setTimeout(checkStatus, 1000); // 1초 후 상태 체크 시작      
      });      
    </script>      
  </body>      
</html>  
