{% extends "base.html" %}  
  
{% block content %}  
    <h2>파일 업로드 성공!</h2>  
    <p>업로드된 파일을 처리 중입니다. 잠시만 기다려주세요...</p>  
    <div id="loading">로딩 중...</div>  
    <script>  
        function checkStatus() {  
            fetch("{% url 'check_processing_status' %}")  
                .then(response => response.json())  
                .then(data => {  
                    if (data.status === 'done') {  
                        window.location.href = "{% url 'result_page' %}";  
                    } else {  
                        setTimeout(checkStatus, 1000); // 1초마다 상태 체크  
                    }  
                });  
        }  
  
        document.addEventListener("DOMContentLoaded", function() {  
            setTimeout(checkStatus, 1000); // 1초 후 상태 체크 시작  
        });  
    </script>  
{% endblock content %}  
