{% comment %} {% extends "base.html" %}

{% block content%}

<div style="height: 20rem; border-radius: 1rem; margin: 2rem; ">
    <h6>testing</h6>
</div>

{% endblock content%} {% endcomment %}

 {% block content %}
    <div style="text-align: center; margin: 2rem;">
        <!-- 녹음 기능 -->
        <div id="recorder">
            <h2>녹음 기능</h2>
            <button id="startRecording" onclick="startRecording()">녹음 시작</button>
            <button id="stopRecording" onclick="stopRecording()" disabled>녹음 중지</button>
            <audio id="audioPlayback" controls></audio>
        </div>

        <!-- 파일 업로드 기능 -->
        <div id="uploader" style="margin-top: 2rem;">
            <h2>파일 업로드</h2>
            <form id="uploadForm">
                <input type="file" id="uploadFile" multiple>
                <button type="submit">업로드</button>
            </form>
        </div>
    </div>
    {% endblock content %}
