/* Common Styles */  
body,  
html {  
  margin: 0;  
  padding: 0;  
  min-width: 100vw;  
  min-height: 100vh;  
  width: 100%;  
  height: 100%;  
}  
  
.logo {  
  position: absolute;  
  top: 53px;  
  left: 32px;  
}  
  
/* Loading Page Styles */  
.loading-container {  
  min-width: 375px;  
  height: 100%;  
}  
  
.bottom-sea {  
  background: url("../icons/img_sea.png");  
  background-repeat: repeat-x;  
  width: 100%;  
  height: 500px;  
  position: absolute;  
  bottom: 0px;  
  left: 0;  
  display: flex;  
  animation: bg-wave 50s linear infinite;  
  z-index: -1;  
}  
  
@keyframes bg-wave {  
  from {  
    background-position-x: 0;  
  }  
  to {  
    background-position-x: 1000%;  
  }  
}  
  
.fish-wrapper {  
  position: relative;  
  width: 100%;  
  height: 100%;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  z-index: 10;  
}  
.loading-text {
  position: absolute;
  top: -20px; /* 텍스트를 더 위로 올립니다 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem; /* 텍스트 크기를 더 크게 조정 */
  font-weight: bold;
  color: #f45c21; /* 텍스트 색상을 낚싯대와 구별되도록 변경 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 추가 */
} 
.fish-wrapper p {  
  position: absolute;  
  top: 40%;  
  left: 50%;  
  transform: translate(-50%, -50%) rotate(0deg);  
  font-weight: bold;  
  font-size: 30px;  
  color: #0d745f;  
  padding: 8px 16px;  
  border-radius: 8px;  
}  
  
.fish {  
  height: 600px;    
  background-size: cover;  
  position: relative;  
  animation: horizontal-shake 3s ease-in-out infinite;  
}  
  
@keyframes horizontal-shake {  
  0%,  
  100% {  
    transform: translate(0, 0);  
  }  
  25% {  
    transform: translate(-30px, 30px);  
  }  
  50% {  
    transform: translate(30px, -30px);  
  }  
  75% {  
    transform: translate(-15px, 15px);  
  }  
}  
  
@media all and (max-width: 1024px) {  
  .fish {  
    height: 40vh;  
  }  
  
  .bottom-sea {  
    height: 330px;  
    background-size: cover;  
    bottom: -30px;  
  }  
  
  .fish-wrapper {  
    align-items: flex-end;  
  }  
  
  .fish-wrapper img {  
    margin-bottom: 45%;  
  }  
}  
  
/* Upload Page Styles */  
.file-upload-wrapper {  
  min-width: 650px;  
  min-height: 660px;  
  max-height: 700px;  
  width: 100%;  
  height: 100%;  
  background: top right / contain no-repeat #e7feff url("../icons/img_criminal.png");  
}  
  
.content-wrapper {  
  min-width: 650px;  
  padding-left: 52px;  
  max-width: 60vw;  
  height: 100%;  
}  
  
.file-upload-text {  
  min-width: 375px;  
  padding-top: 200px;  
  display: flex;  
  flex-direction: column;  
  justify-content: center;  
  gap: 40px;  
  font-size: 1.6rem;  
  font-weight: bold;  
}  
  
.file-upload-text span {  
  display: block;  
}  
  
.voice-wrapper {  
  display: flex;  
  flex-direction: column;  
  gap: 20px;  
}  
  
.file-upload-wrapper input[type="file"] {  
  display: none;  
}  
  
.file-upload-voice {  
  width: 160px;  
  height: 52px;  
  border-radius: 50px;  
  background: #f45c21;  
  color: #fff;  
  font-size: 1.25rem;  
  font-weight: bold;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  cursor: pointer;  
}  
  
.voice-output {  
  max-width: 460px;  
  height: 52px;  
  padding-block: 8px;  
  background-color: #fff;  
  border: 1px solid gray;  
  border-radius: 40px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  gap: 8px;  
}  
  
.voice-play-btn {  
  border: 4px solid #f45c21;  
  border-radius: 50%;  
  cursor: pointer;  
  transform: rotate(270deg);  
  aspect-ratio: 1 / 1;  
}  
  
.voice-output > img {  
  width: 40px;  
}  
  
.display-name-wrapper {  
  display: flex;  
  align-items: center;  
  justify-content: start;  
  gap: 10px;  
}  
  
.display-name-wrapper div {  
  display: flex;  
  align-items: center;  
  gap: 10px;  
}  
  
.display-name-wrapper img {  
  background-color: #fff;  
  padding: 4px;  
  border-radius: 12px;  
  border: 1px solid #f45c21;  
}  
  
.recording-wrapper {  
  margin-top: 10px;  
  padding-top: 20px;  
  display: flex;  
  flex-direction: column;  
  gap: 15px;  
  align-items: flex-start;  
}  
  
.upload-wrapper {  
  display: flex;  
  justify-content: center;  
  margin-right: 20%;  
}  
  
#startRecording {  
  background-color: dodgerblue;  
  color: #fff;  
  padding: 8px 16px;  
  border-radius: 8px;  
  font-size: 1rem;  
  font-weight: bold;  
  cursor: pointer;  
  border: 0;  
}  
  
#stopRecording {  
  background-color: lightgray;  
  color: #fff;  
  padding: 8px 16px;  
  border-radius: 8px;  
  font-size: 1rem;  
  font-weight: bold;  
  cursor: pointer;  
  border: 0;  
}  
  
@media all and (max-width: 1024px) {  
  .file-upload-wrapper {  
    min-height: 500px;  
    max-height: 550px;  
  }  
  
  .content-wrapper {  
    max-width: 80vw;  
    padding-top: 60%;  
  }  
  
  .file-upload-text {  
    padding-top: 160px;  
  }  
}  
